
.text-color-white {
	color: #FFFFFF;
}

.text-color-black {
	color: #000000;
}

.text-color-theme {
	color: #6f5499;
}

/* Background colors */
.theme-bg{
	background: #6f5499;
}

.bg-black{
	background: #000000;
}

.secondary-bg {
	background: #f0ecf6;
}


/* Margin */

.margin-bottom-0 {
	margin-bottom: 0 !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-15 {
	margin-bottom: 15px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-90 {
	margin-bottom: 90px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-right-0 {
	margin-right: 0 !important;
}

.margin-right-5 {
	margin-right: 5px !important;
}

.margin-right-10 {
	margin-right: 10px !important;
}

/* Padding surround */

.padding-0 {
	padding: 0px !important;
}

.padding-30 {
	padding: 30px !important;
}

.padding-50 {
	padding: 40px !important;
}


/* Buttons */

BE_btn {
	letter-spacing: 1px;
	text-decoration: none;
	/* background: none; */
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
	font-size:14px;
	line-height:20px;
	font-weight:700;
	text-transform:uppercase;
	border: 3px solid;
	padding:8px 20px;
      
}

.BE_btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
	border: 1px solid;
}

.BE_btn-outlined.BE_btn-theme {
    background: none;
    color: #6f5499;
	border-color: #6f5499;
}

.BE_btn-outlined.BE_btn-theme:hover,
.BE_btn-outlined.BE_btn-theme:active {
    color: #FFF;
    background: #6f5499;
    border-color: #6f5499;
}

.BE_btn-outlined.BE_btn-black {
    background: none;
    color: #000000;
	border-color: #5e5e5e;
          text-align: center;
}

.BE_btn-outlined.BE_btn-black:hover,
.BE_btn-outlined.BE_btn-black:active {
    color: #FFF;
    background: #000000;
    border-color: #000000;
}

.BE_btn-outlined.BE_btn-white {
    background: none;
    color: #FFFFFF;
	border-color: #FFFFFF;
}

.BE_btn-outlined.BE_btn-white:hover,
.BE_btn-outlined.BE_btn-white:active {
    color: #b84d45;
    background: #FFFFFF;
    border-color: #FFFFFF;
}

.BE_btn-xs{
	font-size:11px;
	line-height:14px;
	border: 1px solid;
	padding:5px 10px;
}

.BE_btn-sm{
	font-size:16px;
	line-height:16px;
	border: 2px solid;
	padding:8px 15px;
}

.BE_btn-lg{
	font-size:18px;
	line-height:22px;
	border: 4px solid;
	padding:13px 40px;
}

.BE_btn-colorpicker{
	font-size:18px;
	line-height:22px;
	border: 0px solid;
	padding: 0px;
        width: 100px;
}