@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
body{font-family: 'Raleway', sans-serif;}

.page-heading {
    position: relative;
    padding: 20% 15px;
               text-align: center;
               color: rgba(255, 255, 255, 1);
               background-color: #b84d45;
               font-size: 20px;
               background-image: url("../../images/grocery_checkout1.jpg");
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100%;
}
.page-heading h1 { margin-top: 0; color: white; }
.page-heading p { margin-bottom: 0; line-height: 1.4; }
.page-heading .container { position: relative; }

.page-heading-about {
    position: relative;
    padding: 8% 15px 0 15px;
               text-align: center;
               color: rgba(255, 255, 255, 1);
               background-color: #b84d45;
               font-size: 20px;
               background-image: url("../../images/about_us_header.jpg");
               
    background-size: cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
    height: 500px;
}
.page-heading-about h1 { margin-top: 0; color: white; }
.page-heading-about p { margin-bottom: 0; line-height: 1.4; }
.page-heading-about .container { position: relative; }

.page-heading-faqs {
    position: relative;
    padding: 8% 15px;
               text-align: center;
               color: rgba(255, 255, 255, 1);
               background-color: #919191;
               font-size: 20px;
               background-image: url("../../images/faqs_bg.jpg");
               
     background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
    height: 500px;
}
.page-heading-faqs h1 { margin-top: 0; color: white; }
.page-heading-faqs p { margin-bottom: 0; line-height: 1.4; }
.page-heading-faqs .container { position: relative; }

.page-heading-faqs-tutorial {
    position: relative;
    padding: 8% 15px;
               text-align: center;
               color: rgba(255, 255, 255, 1);
               background-color: #919191;
               font-size: 20px;
               background-image: url("../../images/tutorial_bg.jpg");
               
     background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
    height: 500px;
}
.page-heading-faqs-tutorial h1 { margin-top: 0; color: white; }
.page-heading-faqs-tutorial p { margin-bottom: 0; line-height: 1.4; }
.page-heading-faqs-tutorial .container { position: relative; }

.page-heading-contact-us {
    position: relative;
    padding: 8% 15px;
               text-align: center;
               color: rgba(255, 255, 255, 1);
               background-color: #b84d45;
               font-size: 20px;
               background-image: url("../../images/contact_bg.jpg");
               
     background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
    height: 500px;
}
.page-heading-contact-us h1 { margin-top: 0; color: white; }
.page-heading-contact-us p { margin-bottom: 0; line-height: 1.4; }
.page-heading-contact-us .container { position: relative; }

.page-heading-contact-us {
    position: relative;
    padding: 8% 15px;
               text-align: center;
               color: rgba(255, 255, 255, 1);
               background-color: #b84d45;
               font-size: 20px;
               background-image: url("../../images/contact_bg.jpg");
               
     background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
    height: 500px;
}
.page-heading-contact-us h1 { margin-top: 0; color: white; }
.page-heading-contact-us p { margin-bottom: 0; line-height: 1.4; }
.page-heading-contact-us .container { position: relative; }

.page-heading-services {
    position: relative;
    padding: 8% 15px;
               text-align: center;
               color: rgba(255, 255, 255, 1);
               background-color: #b84d45;
               font-size: 20px;
               background-image: url("../../images/services_bg.jpg");
               
     background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
    height: 500px;
}
.page-heading-services h1 { margin-top: 0; color: white; }
.page-heading-services p { margin-bottom: 0; line-height: 1.4; }
.page-heading-services .container { position: relative; }

.page-heading-backend {
    position: relative;
    padding: 40px 0px;
               background-color: black;        
    background-repeat:   no-repeat;
    background-position: center center;
    background-size: cover;
}
.page-heading-backend h1 { margin-top: 0; color: white; }
.page-heading-backend p { margin-bottom: 0; line-height: 1.4; }
.page-heading-backend .container { position: relative; }

/*PAGE CONTENT1*/
.page-content1 { 
    position: relative; 
    padding: 100px 15px; 
    text-align: center; 
    color: rgba(255, 255, 255, 1); 
    background-color: #b84d45; 
    font-size: 20px; 
}
.page-content1 h1 { margin-top: 0; color: white; }
.page-content1 p { margin-bottom: 0; line-height: 1.4; }
.page-content1 .container { position: relative; }

/*PAGE CONTENT2*/
.page-content2 { 
    position: relative; 
    padding: 400px 15px; 
    text-align: center; 
    color: rgba(255, 255, 255, 1); 
    background-color: #b84d45; 
    font-size: 20px; 
    background-image: url("../../images/shoppinghero1.jpg");
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
}
.page-content2 h1 { margin-top: 0; color: white; }
.page-content2 p { margin-bottom: 0; line-height: 1.4; }
.page-content2 .container { position: relative; }

/*PAGE CONTENT3*/
.page-content3 { 
    position: relative; 
    padding: 100px 15px; 
    color: rgba(255, 255, 255, 1); 
    background-color: #FBA618; 
    font-size: 20px; 
    /*background-image: url("https://startbootstrap.com/img/bg.png");*/
}
.page-content3 h1 { margin-top: 0; color: white; }
.page-content3 p { margin-bottom: 0; line-height: 1.4; }
.page-content3 .container { position: relative; }

/*PAGE CONTENT4*/
.page-content4 { 
    position: relative; 
    padding: 400px 15px; 
    text-align: center; 
    color: rgba(124, 124, 124, 1); 
    background-color: #b84d45; 
    font-size: 20px; 
    background-image: url("../../images/restaurant_11.jpg");
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
}
.page-content4 h1 { margin-top: 0; color: white; }
.page-content4 p { margin-bottom: 0; line-height: 1.4; }
.page-content4 .container { position: relative; }

.page-content-about { 
    position: relative; 
    padding: 100px 100px; 
    text-align: center; 
    color: black; 
    background-color: #ffffff; 
    font-size: 15px; 
}
.page-content-about h1 { margin-top: 0; color: white; }
.page-content-about p { margin-bottom: 0; line-height: 1.4; }
.page-content-about .container { position: relative; }

/*Footer*/
.footer-content1 { 
    position: relative; 
    padding: 100px 15px; 
    color: rgba(120, 133, 171, 1); 
    background-color: #282e3a; 
    font-size: 20px; 
    /*background-image: url("https://startbootstrap.com/img/bg.png");*/
}
.footer-content1 h1 { margin-top: 0; color: white; }
.footer-content1 p { margin-bottom: 0; line-height: 1.4; }
.footer-content1 .container { position: relative; }

.clients ul li {
  display: inline-block;
  vertical-align: middle;
}

.modal-backdrop {
  z-index: -1;
}

.panel-heading span
{
    margin-top: -26px;
    font-size: 15px;
    margin-right: -12px;
}

.clickable {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

