.width-100{
	width:100%;
}
.img-responsive{
	height: 200px;
	width: 100%;

}
.img-responsive-m{
	height: 300px;
	width: 100%;
}
.custom-to-center{
	float: none;
	display: inline-block;

}
.text-black{
	color:#030303;
}

.rating {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}

.btn-colorpicker{
    padding: 0px;
}

.button-redsign{
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;

}

.modal-design{
	padding:9px 15px;
	border-bottom:1px solid #eee;
	background-color: #2e353d;
	color: white;
}
.loader {
    border-color: #1d1c1c #fff #fff;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 16px;
    height: 120px;
    width: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.margin-10{
	margin-top:10%;
	margin-bottom:10%;
}
.padding-left-10{
	padding-left: 40%;
}