.hide{
      		display: none;
      	}
      
       
#timediv {
    text-align: left;
    font-size: 13px;
    color: white;
    font-family: raleway;
    /*position: absolute;*/
    top: 11px;
    right: 50px;
}